#color{color: sandybrown;}
body{
    background-image: url(../public/image/pattern.jpg);
    margin: 0px }
header{
    display: flex;
    background-color: azure;
    justify-content: space-between;
    padding: 15px;
}
ul{
    list-style: none;
}
li{
    display: inline;
    margin: 5px;
    color: steelblue;
}
section{
    background-color: white;
    margin: 40px 150px 30px;
    padding: 20px;
    color: blueviolet;
}
article{
    border-bottom: black;
    text-align: justify;
    padding: 10px;
    color: black;
}
h1{
    text-align: center;
    color: black;
}